/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-size:13px
    }

    @media screen and (min-width: 640px){
        html{
            font-size:16px
        }
    }

    h1{
        font-size: @apply text-display_lg;
        font-weight:700;
    }

    h2{
        font-size: @apply text-headline_md;
        font-weight:500;
    }

    h3{
        font-size: @apply text-headline_sm;
        font-weight:500;
    }

    p{
        font-size: @apply text-base
    }

    @font-face{
        font-family: "Roboto";
        font-weight:400;
        src: url("/fonts/roboto/Roboto-Regular.ttf");
    }

    @font-face{
        font-family: "Roboto";
        font-weight:500;
        src: url("/fonts/roboto/Roboto-Medium.ttf");
    }

    @font-face{
        font-family: "Roboto";
        font-weight:700;
        src: url("/fonts/roboto/Roboto-Bold.ttf");
    }

}



